{{ block title }}

    Stage 2 instructions

{{ endblock }}
{{ block content }}

<div>

    <p style="font-size: 18px; font-weight: bold">Interaction with another participant in the study</p>

    {{ if treatment == 'TG' }}
    <ul>
        <li>Just like this other participant will see how many times you reported the correct die outcome,
        you will see that information about yet another participant.
        <li>We will call this participant "Participant A"
        <li>Based on this information, you will have the opportunity to send points to Participant A.
        <li>Every point you send is tripled by the computer: 1 point sent becomes 3 points received.
        <li>Second, Participant A then decides how many points from those, if any, to return to you.
        <li>They can return nothing, some, or all points.
    </ul>

    <div class="card bg-light instructions">
        <div class="card-body" style="font-size: 14px">
        Example:
        <ul>
            <li>If you send all 3 points, Participant A will receive 9 points.
            <li>If they return half of the 9 points, you and the Participant A will both earn 4.5 points,
            and will both have more than you started with.
            <li>If they return nothing, they will earn 9 points, while you will earn nothing.
        </ul>
        </div>
    </div>

    <div style="margin-top: 20px; margin-bottom: 20px">
    <p>
        Your bonus will be the points Participant A returns to you,
        and the bonus of Participant A will be the points they keep.
    </p>
    <p>
        You will also decide how much to return to the participant who sees <b>your stage 1 outcome</b>
        and had the same opportunity to send you points based on that information.
    </p>
    </div>
    {{ endif }}

    {{ if treatment == 'DG' }}
    <ul>
        <li>After the {{ C.NUM_ROUNDS }} die rolls,
        you are <b>matched with Participant A</b> from this same study.
        <li>First, you will see the number of times Participant A reported the correct number.
        <li>Based on this information, you will interact in a two stage task with them.
        <li>You will the opportunity to earn another bonus based on that interaction ranging from 0 to 9 points.
    </ul>

    <div class="card bg-light instructions">
        <div class="card-body" style="font-size: 14px">
        Example:
        <ul>
            <li>If you send all 3 points, the other participant will receive 9 points.
            <li>If they return half of the 9 points, you and the other participant will both earn 4.5 points,
            and will both have more than you started with.
            <li>If they return nothing, they will earn 9 points, while you will earn nothing.
        </ul>
        </div>
    </div>

    <div style="margin-top: 20px; margin-bottom: 20px">
    <p>
        You will also decide how much to return to "Participant B" who had the same opportunity to send you points
        based on the number of times you reported the correct number.
        This will be <b><u>Another participant</u></b> than the one you decide to send points to.
    </p>
    </div>
    {{ endif }}

    {{ if treatment == 'rating' }}
    <ul>
        <li>After the {{ C.NUM_ROUNDS }} die rolls,
        you are <b>matched with Participant A</b> from this same study.
        <li>First, you will see the number of times Participant A reported the correct number.
        <li>Based on this information, you will rate how trustworthy you find them.
        <li>You will be paid a {{ C.bonus }} points bonus if your rating is the same as the most common answer for that participant.
    </ul>
    {{ endif }}

</div>

<div class="card bg-light instructions">
    <div  class="card-body">
        <h5>Please answer this question before continuing:</h5>
            {{ formfields }}
    </div>
</div>

    <div style="display: flex; justify-content: flex-end;margin-top: 20px; margin-bottom: 10px;">
        Click next to read the detailed instructions for stage 3.
    </div>
    <div style="display: flex; justify-content: flex-end">
        {{ next_button }}
    </div>


{{ endblock }}
