{{ block title }}

    Stage 2 instructions

{{ endblock }}
{{ block content }}

<div>

    <p style="font-size: 18px; font-weight: bold">Interaction with another participant in the study</p>

    <p>
        While other participants sees how many times <u>you</u> reported the correct die outcome,
        you will see that same information about several other participants.
        We will call these participants <b>"Participant 1-{{ C.NUM_ROUNDS }}"</b>
    </p>

    <div class="card bg-light instructions">
        <div class="card-body" style="font-size: 14px">
        Example:
        <ul>
            <li>10/10 rolls means that the participant reported the exact number they saw on the screen everytime.
            <li>6/10 rolls means that the participant reported the exact number they saw on the screen 6 times,<br>
            and that they did not report the correct number 4 times.
            <li>0/10 rolls means that the participant <u>never</u> reported the exact number they saw on the screen.
        </ul>
        </div>
    </div>
    <div style="margin-top: 20px; margin-bottom: 20px">


    {{ if treatment == 'TG' }}
    <p>
        In this stage, you are given 3 points by the computer.
        For each of these participants, after learning how many times they reported the correct number,
        you will have <b>the opportunity to send them up to 3 points</b>
        These are new points given to you by the computer in stage 2.
        Every point you send is <u>tripled</u> by the computer: <b>1 point sent becomes 3 points received</b>.
        Then, each participant then decides how many points from those, if any, to return to you.
        <u>They can return nothing, some, or all points</u>.
    </p>

    <div class="card bg-light instructions">
        <div class="card-body" style="font-size: 14px">
        Example:
        <ul>
            <li>If you send all 3 points, the other participant will receive 9 points.
            <li>If they return half of the 9 points, you and the Participant A will both earn 4.5 points,
            and will both have more than you started with.
            <li>If they return nothing, they will earn 9 points, while you will earn nothing.
            <li>So, the other participant can gain points or lose points by sending you points,
            depending on how much you return.
        </ul>
        </div>
    </div>
    <div style="margin-top: 20px; margin-bottom: 20px">

    <p>
        One of the {{ C.NUM_ROUNDS }} participants you observe will be selected at random to be matched with you for the bonus.
        Your bonus will be the points this selected participant returns to you,
        and the bonus of that participant will be the points they keep.
    </p>
    <p>
        In addition, you will also decide how much to return to a participant who sees <b>your stage 1 outcome</b>
        and has the same opportunity to send points to you based on that information.
        This participant is referred to as "Participant B".
        This will also be paid as a bonus.
    </p>
    </div>
    {{ endif }}

    {{ if treatment == 'DG' }}

    <p>
        In this stage, you are given {{ DG_points }} by the computer.
        For each of these participants,
        after learning how many times they reported the correct number,
        you will have <b>the opportunity to share these points</b> with them.
        <u>You can share nothing, some, or all the points</u>.
    </p>

    <div class="card bg-light instructions">
        <div class="card-body" style="font-size: 14px">
        Example:
        <ul>
            <li>If you share all {{ DG_points }} points,
                the other participant will receive {{ DG_points }} points and you receive nothing.
            <li>If you send {{ half_points }} points, both the other participant and yourself will earn {{ half_points }}.
        </ul>
        </div>
    </div>

    <div style="margin-top: 20px; margin-bottom: 20px">
    <p>
        In addition, you will also be the recipient of one other participant who sees <b>your stage 1 outcome</b>
        and has the same opportunity to share points with you based on that information.
        This will also be paid as a bonus.
    </p>
    </div>
    {{ endif }}

    {{ if treatment == 'rating' }}
    <p>
        Based on this information, you will rate how <b>trustworthy</b> you find them.
        You will be paid a {{ C.bonus }} bonus if your rating is the same as the most common answer for that participant.
    </p>

    <p>
        In addition, you will also be the recipient of one other participant who sees <b>your stage 1 outcome</b>
        and has the same opportunity to rate you based on that information.
        This will also be paid as a bonus.
    </p>
    {{ endif }}

</div>

    <hr size="6" width="50%" align="center" color="black">
    <div>
        <h5>Please answer this question before continuing:</h5>
            {{ formfields }}
    </div>


    <div style="display: flex; justify-content: flex-end;margin-top: 30px; margin-bottom: 10px;">
        Click next to start stage 2.
    </div>
    <div style="display: flex; justify-content: flex-end">
        {{ next_button }}
    </div>


{{ endblock }}
