{{ block title }}

    Part 2 instructions

{{ endblock }}
{{ block content }}

<div>

    <p style="font-size: 18px; font-weight: bold">Interaction with a new participant in the study</p>

    <p>
        In the previous part, another participants saw how many times <u>you</u> reported the die correctly
        and made a decision based on that information.
        Now, you will be the one observing others, and see that same information <u>about several other participants</u>.
        We will call these participants <b>"Participant 1-{{ C.NUM_ROUNDS }}"</b>
    </p>

    <div class="card bg-light instructions">
        <div class="card-body" style="font-size: 14px">
        Example:
        <ul>
            <li>{{ num_dice_rounds }}/{{ num_dice_rounds }} rolls means that the participant reported the exact number they saw on the screen every time.
            <li>{{ half_points }}/{{ num_dice_rounds }} rolls means that the participant reported the exact number they saw on the screen 6 times,<br>
            and that they did not report the die correctly {{ half_points }} times.
            <li>0/{{ num_dice_rounds }} rolls means that the participant <u>never</u> reported the exact number they saw on the screen.
        </ul>
        </div>
    </div>
    <div style="margin-top: 20px; margin-bottom: 20px">


    {{ if treatment == 'TG' }}
    <p>
        Just like in Part 1 but as the other role, you now receive 3 points by the computer
        for each of these participants.
        After learning how many times each reported the die number correctly,
        you will have <b>the opportunity to send them up to 3 points</b>
        Every point you send is <u>tripled</u> by the computer: <b>1 point sent becomes 3 points received</b>.
        Then, each participant then decides how many points from those, if any, to return to you.
        <u>They can return nothing, any intermediate amount, or everything</u>.
    </p>

    <div class="card bg-light instructions">
        <div class="card-body" style="font-size: 14px">
        Example:
        <ul>
            <li>If you send all 3 points, the other participant will receive 9 points.
            <li>If they return half of the 9 points, you and the Participant A will both earn 4.5 points,
            and will both have more than you started with.
            <li>If they return nothing, they will earn 9 points, while you will earn nothing.
            <li>So, you can gain points or lose points by sending points to the other participant,
            depending on how much they return to you.
        </ul>
        </div>
    </div>

    <div style="margin-top: 20px; margin-bottom: 20px">
        <p>
            One of the {{ C.NUM_ROUNDS }} participants you observe will be selected at random to be matched with you for the bonus.
            Your bonus will be the points you keep to yourself (out of 3)
            plus the points this selected participant returns to you.
        </p>
    </div>
    {{ endif }}

    {{ if treatment == 'DG' }}

    <p>
        Just like in Part 1 but as the other role, you now receive {{ DG_points }} points by the computer
        for each of these participants.
        After learning how many times each reported the die number correctly,
        you will have <b>the opportunity to share points</b> with them.
        <u>You can share nothing, any intermediate amount, or everything</u>.
    </p>

    <div class="card bg-light instructions">
        <div class="card-body" style="font-size: 14px">
        Example:
        <ul>
            <li>If you share all {{ DG_points }} points,
                the other participant will receive {{ DG_points }} points and you will receive nothing.
            <li>If you send {{ half_points }} points, both the other participant and yourself will earn {{ half_points }}.
        </ul>
        </div>
    </div>

    <div style="margin-top: 20px; margin-bottom: 20px">
        <p>
            One of the {{ C.NUM_ROUNDS }} participants you observe will be selected at random to be matched with you for the bonus.
            Your bonus will be the points you decided to keep, if any,
            and the bonus of that participant will be the points you decided to share with them, if any.
        </p>
    </div>
    {{ endif }}

    {{ if treatment == 'rating' }}
    <p>
        Just like in Part 1 but as the other role,
        you will rate how <b>trustworthy</b> you find each participant 1-{{C.NUM_ROUNDS}}.
        You will be paid a {{ C.bonus }} bonus if your rating is the same as the most common answer for that participant.
    </p>

    <p>
        Only of the {{ C.NUM_ROUNDS }} participants you observe
        will be selected at random to be matched with you for the bonus calculation.
    </p>

    {{ endif }}

</div>

    <hr size="6" width="50%" align="center" color="black">
    <div>
        <h5>Please answer this question before continuing:</h5>
            {{ formfields }}
    </div>


    <div style="display: flex; justify-content: flex-end;margin-top: 30px; margin-bottom: 10px;">
        Click next to start stage 2.
    </div>
    <div style="display: flex; justify-content: flex-end">
        {{ next_button }}
    </div>


{{ endblock }}
