{{ block title }}

    End of the task

{{ endblock }}

{{ block content }}

    <div class="panel panel-default" style="margin-bottom:10px">
    <div class="panel-body">
        <h5 style="color:#007bff">The study is over, thank you for participating!</h5>
        <br>

        {{ if treatment == 'control' }}
        <p>
            The die on <b>round {{ random_round }}</b> was selected for your bonus.
            <br>
            On that round you reported die of {{ random_reported_dice }}
            which will be paid to you as a bonus of <u>{{ random_reported_dice}} points</u>.
        </p>

        {{ else }}

        <p>
            <b>In stage 1</b>, the die on round {{ random_round }} was selected for your bonus.
            <br>
            On that round you reported die of {{ random_reported_dice }}
            which will be paid to you as a bonus of <u>{{ random_reported_dice}} points</u>.
        </p>
        {{ if treatment == "TG" }}
        <p>
            <b>For stage 2</b>, you will be matched with two participants from the study with whom your choices and what you observed matches.
            You will thus get a bonus for your interaction with Participant A and one with Participant B.
        </p>
        {{ endif }}
        {{ if treatment == "DG" }}
        <p>
            <b>For stage 2</b>, you will be matched with two participants from the study with whom your choices and what you observed matches.
            You will thus get a bonus for your interaction with Participant A and one with Participant B.
        </p>
        {{ endif }}
        {{ if treatment == "rating" }}
        <p>
            <b>For stage 2</b>, you will receive your bonus of {{ C.bonus }}
            once the data for the whole study has been compiled and the most common answer calculated.
        </p>
        {{ endif }}
        <p>
            <b>For stage 3</b>, you will also be matched with one participant from another study with whom your choices match.
            You will thus get a bonus for your interaction with Participant C.
        </p>
        {{ endif }}

        <br>
        <p>
            Once all participants are done with the study, you will receive your bonus as one amount through Prolific.
            This can take a couple of weeks.
        </p>

        <p> </p>
        <hr size="6" width="50%" align="center" color="black">
    </div>
    <p></p>
        <p>
            Click on the <b>next button</b> to be redirected to Prolific.
            The participation payment will be paid immediately.
        </p>

        <div style="display: flex; justify-content: flex-end">
            {% next_button %}
        </div>
</div>

{{ endblock }}



