{{ block title }}

    Instructions for Part 1

{{ endblock }}
{{ block content }}

<div>

    <p>
        In this part, you will take part in a die rolling task.
    </p>
    <ul>
        <li>You will roll a virtual, fair die {{ C.NUM_ROUNDS }} times on the computer.
        <li>After each roll, you are asked to report the number you rolled.
        <li>The number you report correspond to the number of points you will be paid for that roll.
        <li><b>1 point is worth {{ C.conversion }}</b>.
        <li>Only one of the {{ C.NUM_ROUNDS }} dice will be randomly selected for payment.
    </ul>

    <div class="card bg-light instructions">
        <div class="card-body" style="font-size: 14px">
        Example:
        <ul>
            <li>If you roll a 1 and (correctly) report that you have rolled a 1, you earn £0.34,
            <li>If you roll a 3 and (correctly) report that you have rolled a 3, you earn £1.20,
            <li>If you roll a 6 and (correctly) report that you have rolled a 6, you earn £2.40,
            <li>If you roll a 3 and (incorrectly) report that you have rolled a 5, you earn £1.70.
        </ul>
        </div>
    </div>
    <div style="margin-top: 20px; margin-bottom: 20px">

    {{ if player.treatment != 'control' }}
    <p>
        After the {{ C.NUM_ROUNDS }} die rolls,
        you are <b>matched with another participant</b> from this same study.
    </p>
    {{ endif }}

    {{ if player.treatment == 'TG' }}

    <ul>
        <li>First, The other participant learns how many times you reported the die correctly.
        <li>Next, this participant will choose how many points to send to you.
        <li>Then, these points are tripled by the computer so that you get 3x as many points as they sent you.
        <li>Finally, you have to decide how many of those tripled points you wish to keep to yourself
        and how many you want to send back to the other participant, if any.
    </ul>

    <p>
        The points you kept will be paid to you as a bonus.
        <b>Important:</b> to decide how many points to send to you in the first place,
        the other participant will know how many times you reported the die correctly.
    </p>

    <div class="card bg-light instructions">
        <div class="card-body" style="font-size: 14px">
        Example:
        <ul>
            <li>If they send all 3 points, you will receive 9 points.
            <li>If you return half of the 9 points, you and the other participant will both earn 4.5 points,
            and will both have more than you started with.
            <li>If you return nothing, you will earn 9 points, while they will earn nothing.
        </ul>
        </div>
    </div>

    <div style="margin-top: 20px; margin-bottom: 20px">
        <p>
            Your bonus will be the points you keep,
            and the bonus of the other participant will be the points you return to them.
        </p>
    </div>

    {{ endif }}
    {{ if player.treatment == 'DG' }}
    <ul>
        <li>First, The other participant learns how many times you reported the die correctly.
        <li>Next, this participant is given {{ C.DG_points }}.
        <li>Finally, they are asked to choose how many of these points to share with you.
    </ul>
    <p>
        The points you receive from the other participant will be paid to you as a bonus.
        <b>Important:</b> to decide how many points to share with you in the first place,
        the other participant will know how many times you reported the die correctly.
    </p>

     <div class="card bg-light instructions">
        <div class="card-body" style="font-size: 14px">
        Example:
        <ul>
            <li>If they share half the points, you will receive 3 points.
            <li>If they share none of the points, you will receive 0 points.
            <li>If they share all the points, you will receive 6 points.
        </ul>
        </div>
    </div>

    <div style="margin-top: 20px; margin-bottom: 20px">
        <p>
            Your bonus will be the points they sent you,
            and the bonus of the other participant will be the points they kept.
        </p>
    </div>

    {{ endif }}
    {{ if player.treatment == 'rating' }}

    <ul>
        <li>First, The other participant learns how many times you reported the die correctly.
        <li>Next, this participant must rate how trustworthy you seem.
    </ul>
    <p>
        <b>Important:</b> to decide on your trustworthiness rating in the first place,
        the other participant will only know how many times you reported the die correctly.
    </p>

    {{ endif }}


</div>

    <hr size="6" width="50%" align="center" color="black">
    <div>
        <h5>Please answer this question before continuing:</h5>
            {{ formfields }}
    </div>

    <div style="display: flex; justify-content: flex-end;margin-top: 20px; margin-bottom: 10px;">
        Click next to start Part 1.
    </div>
    <div style="display: flex; justify-content: flex-end">
        {{ next_button }}
    </div>


{{ endblock }}
